<%= form_with model: @event, local: true do |form| %>

 
  <p>  
    <%= form.label("Title of Event") %><br>
    <%= form.text_field :title %><br>
    <%= form.label("Description of Event") %><br>
    <%= form.text_area :description %><br>
    <%= form.label("Event begins at") %><br>
    <%= form.datetime_select :start_time %><br>
    <%= form.label("Event ends at") %><br>
    <%= form.datetime_select :end_time %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>