<%= form_with model: @event, local: true do |form| %>

 <% if @event.errors.any? %>
    <div id="error_explanation">
      <h3>
        Sorry, <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h3>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
        <h3>Please try again...</h3>
    </div>
  <% end %>
 
  <p>  
    <%= form.label("Title of Event") %><br>
    <%= form.text_field :title %><br>
    <%= form.label("Description of Event") %><br>
    <%= form.text_area :description %><br>
    <%= form.label("Event begins at") %><br>
    <%= form.datetime_select :start_time %><br>
    <%= form.label("Event ends at") %><br>
    <%= form.datetime_select :end_time %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>