= form_with model: @event, local: true do |form|
  - if @event.errors.any?
    .div{id: "error_explanation"}
      %h3
        Sorry, #{pluralize(@event.errors.count, "error")} prohibited
        this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
      %h3 Please try again...
  %p
  .form-group
    = form.label("Title of Event")
    %br
    = form.text_field :title, class: 'form-control'
    %br
  .form-group
    = form.label("Description of Event")
    %br
    = form.text_area :description, class: 'form-control'
    %br
  .row
    .col-sm-3
      .form-group
        = form.label("Event begins at")
        .input-group.date#datetimepicker_start_time{'data-target-input'=>"nearest"}
          %input.form-control.datetimepicker-input{:name => "event[start_time]",'type'=>"text", 'data-target'=>"#datetimepicker_start_time", :value => @event.start_time ? @event.start_time.strftime('%d-%m-%Y %R') : ''}
          .input-group-append{'data-target'=>"#datetimepicker_start_time", 'data-toggle'=>"datetimepicker"}
            .input-group-text
              %i.fa.fa-calendar
    .col-sm-3
      .form-group
        = form.label("Event ends at")   
        .input-group.date#datetimepicker_end_time{'data-target-input'=>"nearest"}
          %input.form-control.datetimepicker-input{:name => "event[end_time]",'type'=>"text",'data-target'=>"#datetimepicker_end_time", :value => @event.end_time ? @event.end_time.strftime('%d-%m-%Y %R') : ''}
          .input-group-append{'data-target'=>"#datetimepicker_end_time", 'data-toggle'=>"datetimepicker"}
            .input-group-text
              %i.fa.fa-calendar

  %p
    = form.submit

:javascript
  $(function () {
    $('#datetimepicker_start_time').datetimepicker({
      format: 'DD-MM-YYYY HH:mm',
      autoclose: true
    });
    $('#datetimepicker_end_time').datetimepicker({
      format: 'DD-MM-YYYY HH:mm',
      autoclose: true,
      useCurrent: false
    });
  });

