= form_with model: @event, local: true do |form|
  - if @event.errors.any?
    .div{id: "error_explanation"}
      %h3
        Sorry, #{pluralize(@event.errors.count, "error")} prohibited
        this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
      %h3 Please try again...
  %p
  .form-group
    = form.label("Title of Event")
    %br
    = form.text_field :title, class: 'form-control'
    %br
  .form-group
    = form.label("Description of Event")
    %br
    = form.text_area :description, class: 'form-control'
    %br
  .form-group
    = form.label("Event begins at")
    .input-group.date.datetime#datetimepicker_start_time{'data-target-input'=>'nearest'}
      %input.form-control.datetimepicker{:name => "event[start_time]",'data-toggle'=>'datetimepicker','data-target'=>'#datetimepicker_start_time'}
      .input-group-append{'data-target'=>'#datetimepicker_start_time','data-toggle'=>'datetimepicker'}
        .input-group-text
          %i.fa.fa-calendar
  .form-group
    = form.label("Event ends at")
    .input-group.date.datetime#datetimepicker_end_time{'data-target-input'=>'nearest'}
      %input.form-control.datetimepicker{:name => "event[end_time]",'data-toggle'=>'datetimepicker','data-target'=>'#datetimepicker_end_time'}
      .input-group-append{'data-target'=>'#datetimepicker_end_time','data-toggle'=>'datetimepicker'}
        .input-group-text
          %i.fa.fa-calendar
  %p
    = form.submit
:javascript
  $(function () {
      $('.datetime').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        autoclose: true,
        minDate: moment()
      });
  });

