.content
  .container
    %h1= @event.title
    %ul{:style => "list-style: none"}
      %li
        Description: #{@event.description}
      %li
        Time: #{@event.start_time.strftime("%A, %B %d from %R")} - #{@event.end_time.strftime("%R")}
    = link_to 'Edit event', edit_event_path(@event), :class => 'link-underlined link-underlined-yellow'
    = link_to 'Back to all events', events_path, :class => 'link-underlined link-underlined-yellow'

